<% @teacher_check = false %>

<% @rooms.each do |room| %>
  <% if room.teacher_auth %>
    <% @teacher_check = true %>
  <% end %>
<% end %>

<div class="row">
  <div class="col m3 s12">
    <ul class="collection">
      <li class= "collection-item <%= 'grey darken-1' if action_name == "advices" %>">
        <div>
          <%= link_to "アドバイス一覧", advices_path, class: " #{'white-text' if action_name == "advices" } #{'grey-text text-darken-1' if action_name != "advices" } " %>
        <div>
      </li>
      <% if @teacher_check %>
        <li class= "collection-item <%= 'grey darken-1' if action_name == "reservations" %>">
          <div>
            <%= link_to "予約一覧", reservations_path, class: " #{'white-text' if action_name == "reservations" } #{'grey-text text-darken-1' if action_name != "reservations" } " %>
          <div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col m9 s12">
    <div class="row">
      <% @advices.each do |advice| %>
        <div class="col m6 s12">
          <div class="card ">
            <div class="card-image">
              <%= link_to room_path(advice.room) do %>
                <%= image_tag advice.room.cover_photo(:medium) %>
              <% end %>
            </div>
            <div class="card-content">
              <span class="center-align">
                <%= link_to user_path(advice.user) do %>
                  <div class="chip white">
                    <%= image_tag avatar_url(advice.user), class: "img-circle avatar-small" %>
                    <%= advice.user.fullname %>
                  </div>
                <% end %>先生へのアドバイス申し込み
              </span>
              <p class="right-align"><%= advice.created_at.strftime('%Y年%m月%d日') %></p>
            </div>
            <div class="card-action">
              <div class="button-center">
                <%= link_to  reservation_path(advice), class: 'btn waves-effect waves-light grey darken-1' do %>
                  <span>詳細を見る</span><i class="material-icons right">send</i>
                <% end %>
              </div>
              room.id 
              <%= advice.room.id %>
              reservatino.id 
              <%= advice.id %>
              <div class="text-right">
                <%= render partial: "reviews/student_form", locals: {reservation: advice} %>
              </div>
            </div>    
          </div>   
        </div>
      <% end %>
    </div>
  </div>
</div>