<div class="row">
  <div class="col m3">
    <ul class="collection">
      <li class= "collection-item <%= 'grey darken-1' if action_name == "index" %>">
        
          <%= link_to "あなたの楽器一覧", rooms_path, class: " #{'white-text' if action_name == "index" } #{'grey-text text-darken-1' if action_name != "index" } " %>
      </li>
    </ul>    
　</div>

  <div class="col m9">
    <ul class="collection">
      <% @rooms.each do |room|  %>
        <li class="collection-item avatar">
          <% unless room.roomphotos.blank? %>
            <%= image_tag room.cover_photo(:medium),class: "circle" %>
          <% else %>
            <i class="material-icons circle">play_arrow</i></a>
          <% end %>
          <span class="title"><%= room.instrument %></span>
          <p>
            <%= link_to "内容を更新する", basic_room_path(room) %>
          </p>
          <% if room.teacher_auth == true %>
            <a href="#!" class="secondary-content"><i class="material-icons medium deep-orange-text text-darken-4">stars</i></a>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>